.text-underline{
  text-decoration:underline;
}

.movie_card{
  height: 500px;
  width: 300px;
  background-color:rgb(195, 60, 60) ;
  border-radius: 13px;
  padding: 10px;
  color: white;
}

.movie_card img{
  height: 202px;
  width: 100%;
  border-radius: 3px;
}
.grids{
  display: grid;
  grid-template-columns:auto auto auto;
  gap: 30px;
}
.color{
  color: white;
}

/* @media screen and (min-width: 480px){
  .grids {
    margin;
    grid-template-columns:auto auto auto;
    gap: 2px;
  }
} */

@media screen and (min-width: 480px) {
  body {
    margin:auto;
    grid-template-columns:auto auto auto;
    gap: 2px;
  }
}